<ion-header>
  <ion-toolbar>
    <ion-title>Coaching Drill Timer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h3>Welcome Back</h3>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <ion-list style="background: #f5f5f5; margin-bottom: 0px;" lines="none">
      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
    </ion-list>
  </form>

  <p style="display: block;" (click)="passwordReset()" class="ion-text-right" fill="clear">Forgot your password?</p>
  <ion-button [disabled]="loginForm.invalid" type="submit" expand="block" (click)="login()">Login</ion-button>
  <ion-button  fill="clear" expand="block" routerLink="/register">Create an Account</ion-button>
</ion-content>