<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h5>Welcome Back</h5>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input formControlName="password"  type="password"></ion-input>
      </ion-item>
    </ion-list>
  </form>

  <p style="display: block;" routerLink="/forgot-password" class="ion-text-right" fill="clear">Forgot your password?</p>
  <ion-button [disabled]="loginForm.invalid" type="submit" expand="full" (click)="login()">Login</ion-button>
  <ion-button color="secondary" expand="full" routerLink="/register">Create an Account</ion-button>
</ion-content>