<ion-header>
  <ion-toolbar>
    <ion-title>Drill Timer</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/auth/settings">
        Settings
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <div *ngIf="showLoading">
    <ion-spinner></ion-spinner>
  </div>


  <div *ngIf="!showLoading">
    <ion-card *ngIf="plan && activies && currentTimeStamp < plan?.startTimestamp">
      <ion-card-content>
        <h3 style="color: #000" *ngIf="plan && activities"> {{ (!currentActivity) ? 'Next Practice' : "" }}</h3>
        <h3 style="color: #000">{{ timer }} </h3>
      </ion-card-content>
    </ion-card>

    <h3 style="margin-top: 100px" *ngIf="plan && !activities || activities?.length == 0" class="ion-text-center">You
      dont
      have any activities for your {{plan.date }} practice<br>
      <ion-button [routerLink]="['/practice-plans/view-plan/', plan.id]">Add One</ion-button>
    </h3>

    <h3 style="margin-top: 100px" *ngIf="!plan" class="ion-text-center">You dont have any future practices<br>
      <ion-button routerLink="/practice-plans/add-plan">Add One</ion-button>
    </h3>




    <div class="ion-no-margin" *ngIf="activities && activities.length > 0 && currentTimeStamp > plan?.startTimestamp">
      <ion-card class="ion-no-margin">
        <ion-card-header>
          <ion-card-subtitle> {{ currentActivity?.name }}</ion-card-subtitle>
          <ion-card-title>
            <ion-text>
              <p style="font-size: 70px !important; margin: auto; width: fit-content;"> {{ timer }} </p>
            </ion-text>
          </ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>

    <div class="ion-no-margin" *ngIf="activities && activities.length > 0">
      <h3 style="margin-top: 50px">Activities</h3>


      <ion-list style="background:#ffffff" lines="none">
        <ion-item (click)="viewNotes(activity)" *ngFor="let activity of activities">
          <ion-label [ngClass]="(activity?.id == currentActivity?.id) ? 'activiated' : '' ">
            {{ activity.name }}
            <p>{{ activity.startTime}} - {{ activity.duration }} minutes</p>
          </ion-label>
          <ion-badge fill="clear" slot="end">Notes</ion-badge>
        </ion-item>
      </ion-list>
      <h5 style="color: #000; text-align: center; margin-bottom: 40px">End Time {{ plan.endTime }} - Duration:
        {{ plan.duration }} mintues</h5>

    </div>

  </div>

</ion-content>