<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="delete()">Delete</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <form>
    <h3>Name</h3>
    <ion-item-group>
      <ion-item lines="none">
        <ion-input #name="ngModel" [(ngModel)]="editActivity.name" required name="name"></ion-input>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <h3>Duration (in minutes)</h3>
      <ion-item lines="none">
        <ion-input #duration="ngModel" type="number" inputmode="number" [(ngModel)]="editActivity.duration" required name="duration"></ion-input>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <h3>Notes</h3>
      <ion-item lines="none"> 
        <ion-textarea autoGrow="true" rows="6" #notes="ngModel" [(ngModel)]="editActivity.notes" name="notes"></ion-textarea>
      </ion-item>
    </ion-item-group>
  </form>
  <ion-button expand="block" (click)="save()">Save</ion-button>


</ion-content>