<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form #activityForm="ngForm">

    <ion-item-group>
      <h3>Name</h3>
      <ion-item lines="none">
        <ion-input #name="ngModel" ngModel required name="name"></ion-input>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <h3>Duration (in minutes)</h3>
      <ion-item lines="none">
        <ion-input inputmode="number" type="number" #duration="ngModel" ngModel required name="duration"></ion-input>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <h3>Notes</h3>
      <ion-item lines="none">
        <ion-textarea rows="6" autoGrow="true" #name="ngModel" ngModel  name="notes"></ion-textarea>
      </ion-item>
    </ion-item-group>

  </form>
  <ion-button [disabled]="activityForm.invalid" expand="block" (click)="save(activityForm)">Save</ion-button>


</ion-content>