<ion-header>
  <ion-toolbar>
    <ion-title>Coaching Drill Timer</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/login">Skip</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-slides>
    <ion-slide>
      <h2>Add Your Practices</h2>
      <img style="height: 200px;" src="../../assets/scheduel.svg" />
    </ion-slide>
    <ion-slide>
        <h2>Add Your Activites</h2>
      <img style="height: 300px;" src="../../assets/activities.svg" />
    </ion-slide>
    <ion-slide>
      <h2>Get Alarms For Each Activity</h2>
      <img style="height: 200px;" src="../../assets/alarmsvg.svg" /> <br>
      <ion-button fill="clear" expand="block" routerLink="/login">Continue </ion-button>
    </ion-slide>

  </ion-slides>
</ion-content>