<ion-header>
  <ion-toolbar>
    <ion-title>Parcee</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/login">Skip</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-slides>
    <ion-slide>
      <img src="" />
      <h2>App Info Page One</h2>
    </ion-slide>
    <ion-slide>
      <img src="" />
      <h2>App Info Page Two</h2>
    </ion-slide>
    <ion-slide>
      <img src="" />
      <h2>App Info Page There</h2>
      <ion-button routerLink="/login">Continue</ion-button>
    </ion-slide>

  </ion-slides>
</ion-content>