<ion-tabs style="contain: none;">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="drill-timer">
      <ion-icon style="font-size: 35px;" name="timer"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="practice-plans">
      <ion-icon  style="font-size: 35px;" name="calendar"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<ion-fab style="bottom: 40px" horizontal="center" vertical="bottom" edge>
  <ion-fab-button routerLink="/practice-plans/add-plan">
    <ion-icon  name="add"></ion-icon>
  </ion-fab-button> 
</ion-fab>