<ion-header>
  <ion-toolbar>
    <ion-title>Practice Plans</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/practice-plans/templates">Templates</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div *ngIf="upcomingPlans && upcomingPlans.length > 0">
    <h3>Upcoming Practices</h3>
    <ion-list style="background: #ffffff;" lines="none">
      <ion-item detail [routerLink]="['/practice-plans/view-plan', plan.id ]" *ngFor="let plan of upcomingPlans">
        <ion-label>
          {{ plan.date + " " + plan.startTime}}
          <p>Activities: {{ plan.activitiesCount }} </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>


  <div>
    <h3>Past Practices</h3>
    <ion-list style="background: #ffffff;" *ngIf="pastPlans && pastPlans.length > 0" lines="none">
      <ion-item detail [routerLink]="['/practice-plans/view-plan', plan.id ]" *ngFor="let plan of pastPlans">
        <ion-label>
          {{ plan.date + " " + plan.startTime}}
          <p>Activities: {{ plan.activitiesCount }} </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

</ion-content>