<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/practice-plans"></ion-back-button>
    </ion-buttons>
    <ion-title>Practice</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="createTemplate()">Templatize</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div (click)="editDateTime($event)">
    <h3>Practice Date & Time</h3>
    <ion-list lines="none" style="background: #ffffff;" *ngIf="plan">
      <ion-item>
        <ion-label>
          {{ plan.date + ' ' + plan.startTime }}
        </ion-label>

        <ion-button color="dark" fill="clear" size="small">
          <ion-note slot="end">edit </ion-note>
        </ion-button>
      </ion-item>
    </ion-list>
  </div>

  <h3 *ngIf="activities && activities.length == 0" class="ion-text-center">This practice has no activities <br>
  </h3>

  <div *ngIf="activities?.length > 0">
    <h3>Activities</h3>
    <ion-list style="background:#ffffff" lines="none">

      <ion-reorder-group (ionItemReorder)="reorderActivities($event)" disabled="false">

        <ion-item *ngFor="let activity of activities">
          <ion-label (click)="editActivity(activity)"> {{ activity.name }}
            <p>{{ activity.startTime }} - {{activity.duration }} minutes</p>
          </ion-label>
          <ion-buttons>
            <ion-button color="dark">
              <ion-reorder slot="end"></ion-reorder>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-reorder-group>
    </ion-list>
    <h5 style="text-align: center;">End Time {{ planEndTime }} - Duration: {{ planDuration }} mintues</h5>

  </div>
  <ion-button (click)="addActivity()" expand="block" class="ion-margin-top">
    Add Activity</ion-button>
  <ion-button expand="block" color="danger" (click)="deletePlan()">Delete Practice</ion-button>

<!-- 
  <h3>Notifications</h3>
  <ion-list>
    <ion-button (click)="n()">Get Notifications</ion-button>
    <ion-item *ngFor="let n of notifications">
      <ion-label>
        {{n.title}} - {{n.text}}
      </ion-label>
    </ion-item>
  </ion-list> -->
</ion-content>