<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/practice-plans/templates"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ plan?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">



  <h3 *ngIf="activities && activities.length == 0" class="ion-text-center">This template has no activities <br>
  </h3>

  <div *ngIf="activities?.length > 0">
    <h3>Activities</h3>
    <ion-list lines="none">

      <ion-reorder-group (ionItemReorder)="reorderActivities($event)" disabled="false">

        <ion-item *ngFor="let activity of activities">
          <ion-label (click)="editActivity(activity)"> {{ activity.name }}
            <p>{{ activity.duration }} minutes</p>
          </ion-label>
          <ion-buttons>
            <ion-button color="dark">
              <ion-reorder slot="end"></ion-reorder>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-reorder-group>
    </ion-list>
    <h5 style="text-align: center;"> Duration: {{ planDuration }} mintues</h5>
  </div>

  <ion-button  (click)="addActivity()" expand="block" class="ion-margin-top">
    Add Activity</ion-button>
  <ion-button expand="block" color="danger" (click)="deleteTemplate()">Delete Template</ion-button>


</ion-content>