<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/practice-plans"></ion-back-button>
    </ion-buttons>
    <ion-title>Add Practice</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form #form="ngForm">

    <h3>Practice Date</h3>

    <ion-list lines="none" style="background: #ffffff;">
      <ion-item>
        <ion-datetime pickerFormat="MMM  DD YYYY" displayFormat="MMM DD YYYY" min="2019" max="2020" #date="ngModel"
          ngModel name="date" required>
        </ion-datetime>
      </ion-item>
      <p style="color: red" class="ion-text-center" *ngIf="date.touched && date.invalid">This practice date is required
      </p>
    </ion-list>

    <h3>Practice Start Time</h3>
    <ion-list lines="none" style="background: #ffffff;">
      <ion-item>
        <ion-datetime pickerFormat="h:mm A" displayFormat="h:mm A" #time="ngModel" name="time" ngModel required>
        </ion-datetime>
      </ion-item>
      <p style="color: red" class="ion-text-center" *ngIf="time.touched && time.invalid">The practice time is required
      </p>

    </ion-list>

    <ion-button expand="block" (click)="save(form)" [disabled]=form.invalid>Save</ion-button>
  </form>

</ion-content>